body {
    // Spaces
    --spaces-xsmall: 0.25em;
    --spaces-small: 0.5em;
    --spaces-medium: 0.75em;
    --spaces-large: 1em;
    --spaces-xlarge: 1.25em;
    // Border radius
    --borderRadius-xsmall: 0.25em;
    --borderRadius-small: 0.5em;
    --borderRadius-medium: 0.75em;
    --borderRadius-large: 1em;
    --borderRadius-xlarge: 1.25em;
    // Font sizes
    --fontSize-small: 0.875em;
    --fontSize-medium: 1em;
    --fontSize-large: 1.5em;
    --fontSize-xlarge: 2em;
    --fontSize-xxlarge: 2.5em;
}
