body[data-theme='light'] {
  --colors-primary: white;
  --colors-background: #95d5b2;
  --colors-panelheader: #52b788;
}

// body[data-theme='dark'] {
//   --colors-primary: white;
//   --colors-background: #065a60;
//   --colors-panelheader: #1b3a4b;
// }


/* LIGHT COLORS
https://pixelied.com/colors/palette-editor/d8f3dc-b7e4c7-95d5b2-74c69d-52b788-40916c-2d6a4f-1b4332-081c15
--granny-apple: #d8f3dc;
--fringy-flower: #b7e4c7;
--vista-blue: #95d5b2;
--silver-tree: #74c69d;
--ocean-green: #52b788;
--eucalyptus: #40916c;
--green-pea: #2d6a4f;
--everglade: #1b4332;
--black-bean: #081c15;
*/

/* DARK COLORS
https://pixelied.com/colors/palette-editor/006466-065a60-0b525b-144552-1b3a4b-212f45-272640-312244-3e1f47-4d194d
--blue-stone: #006466;
--deep-sea-green: #065a60;
--sherpa-blue: #0b525b;
--blue-dianne: #144552;
--elephant: #1b3a4b;
--big-stone: #212f45;
--ebony-clay: #272640;
--martinique: #312244;
--bossanova: #3e1f47;
--loulou: #4d194d;
*/